.countries {
    padding-top: 5%; 
    font-size: 14px;
    /* background-color: var(--light-background); */
}

.countryList {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    grid-gap: 30px;
}

.countryMenu {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
    
}