@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {

  --dark-elements: hsl(209, 23%, 22%);
  --dark-background: hsl(207, 26%, 17%);
  --dark-box-shadow: 2px 5px 5px 3px rgb(33 33 37 / 23%);;

  --light-text: hsl(200, 15%, 8%);
  --light-input: hsl(0, 0%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --light-box-shadow: 2px 1px 3px 2px rgba(221, 221, 221, 0.3);

  --white: hsl(0, 0%, 100%);
  
  --padding-desktop: 0 5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*Better practice to have box sizing here and declare it in the body in case we want to change box sizing properties in any plugins or components, etc.*/
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  /* margin: 0; */
  background-color: var(--light-background);
  box-sizing: border-box;
}

.container {
  padding: var(--padding-desktop)
}

.darkBackground {
  background-color: var(--dark-background);
  color: var(--white);
}

.darkElement {
  background-color: var(--dark-elements);
  color: white;
}

.lightElement {
  background-color: var(--white);
  color: black; 
}

.darkBoxShadow {
  box-shadow: var(--dark-box-shadow)
}

.lightBoxShadow {
  box-shadow: var(--light-box-shadow);
}